{% load rest_framework %}
{% load staticfiles %}
<html>
<head><link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"></head>
<body>
{% if post %}
      <div class='post'>
        <h1 class='post-title'>{{post.title}}</h1>
        <p class='author'>{{post.author.displayName}}</p>
        <p class='post-published'>{{post.published}}</p>
        <p class='post-description'>{{post.description}}</p>
        <div class='post-content {% if post.contentType != "text/plain" %} md-content {% endif %}'>{{post.content}}</div>
        <a href="/doggo/posts/{{post.id}}/comments/">Comments</a>
      </div>
{% else %}
  <p>404. No post found</p>
{% endif %}
</body>
<script src="{% static 'js/marked.min.js' %}"></script>
<script src="{% static 'js/MarkdownParser.js' %}"></script>
</html>
