{% load rest_framework %}
{% load staticfiles %}
<html>
<head><link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"></head>
<body id="background" class="tiled-background">
<script> var images = "{% static 'images/' %}";</script>
<script src="{% static 'js/LoadBackground.js?1500' %}"></script>

<ul class = 'post-list'>
<div class="full-post">
  <div class="comment-post-image">
    <img class= "image" src="{% static 'images/0.png' %}">
  </div>
  <div class='post'>
    <a class='post-title' href="/doggo/posts/{{post.id}}/">{{post.title}}</a>
    <p class="by">by</p>
    <a class='post-author' href="/doggo/author/{{post.author.id}}/">{{post.author.displayName}}</a>
    <p class='post-published'>{{post.published}}</p>
    <p class='post-description'>{{post.description}}</p>
    <p class='post-content'>{{post.content}}</p>
    <div class='comment'>
    {% if post.comments %}
      <p class="comment-content"> Comments:</p>
      <br>
      {% for comment in post.comments %}
      <div class='comment'>
        <p class='comment'>{{comment.comment}}</p>
        <p class='comment-published'>{{comment.pubDate}}</p>
        <p class='comment-author'>{{comment.author.displayName}}</p>
        <p class='comment-content'>{{comment.content}}</p>
      </div>
      {% endfor %}
    <a class="comment-link" href="/doggo/posts/{{post.id}}/comments/">See more comments.</a>
    <a href="/doggo/posts/{{post.id}}">Back to posts</a>
    {% else %}
      <p class="comment-content"> No comments available.</p>
    {% endif %}

    </div>
  </div>
</div>
</ul>
</body></html>
