.tiled-background{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: auto;
}

.tiled-photo{
  height: 16.66%;
  width: 16.66%;
  filter: blur(8px);
}

h1.login-dialog{
  color: white;
  order: 1;
}

form.login-dialog{
  order: 2;
}

.login-dialog {
  background-color:rgba(0, 0, 0, 0.5);
  top: 50%;
  display: flex;
  position: absolute;
}
